footer {
    background: var(--bg-color);
    border-top: .125em solid black;
    padding-right: 1em;
}

footer p {
    font-family: var(--logo-font);
    font-size: .75rem;
    text-align: end;
    padding: 1.5em 0;
}