.header {
    background: var(--bg-color);
    padding: 1.25em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: .125em solid var(--dark-blue);
}

.header-mobile--open {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "logo search-icon"
    "input input";
    row-gap: .75em;
    width: 100%;
    box-sizing: border-box;
}

.logo {
    width: 150px;
}

.logo-mobile--open {
    grid-area: logo;
}

.container-input {
    display: none;
}

.container-input--mobile {
    grid-area: input;
    display: block;
}

.input {
    padding: .35em 1em;
    border-radius: 10px;
    border: none;
}

.input-empty {
    border: .135em solid var(--red);
}

.input-empty::placeholder {
    color: var(--red);
}

.btn-src {
    margin-left: 1em;
    border-radius: 10px;
    padding: 0.25em .75em;
    background-color: transparent;
    border: .125em solid var(--white);
    color: var(--white);
    font-weight: 700;
    transition: all 1s ease-out;
}

.btn-src:hover {
    border: .125em solid var(--cyan);
    color: var(--orange);
    cursor: pointer;
    background-color: var(--gray-orange);
}

.search-icon {
    width: 30px;
}

.search-icon--mobile {
    grid-area: search-icon;
    justify-self: end;
    padding-right: 1.25em;
}

@media screen and (min-width: 768px) {
    .logo {
        width: 180px;
    }

    .container-input {
        display: flex;
        width: 50%;
        justify-content: space-between;
    }

    .header-mobile--open {
        display: flex;
    }

    .search-icon {
        display: none;
    }

    .input {
        padding: .25em 1em;
        border-radius: 10px;
        width: 100%;
        border: none;
    }

    .input-empty {
        border: .15em solid var(--red);
    }
}

@media screen and (min-width: 1440px) {
    .input {
        font-size: 1.25rem;
    }

    .btn-src {
        font-size: 1rem;
    }
}