.main {
    background-image: url(../../img/bg-img-children.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1.25em 3.5em;
    width: 100vw;
    height: 85vh;
    box-sizing: border-box;
}

.main-card {
    display: grid;
    grid-template-rows: ;
    grid-template-columns: ;
    grid-template-areas: "";
    /* grid-template-columns: 45% 25% 25%;
    grid-template-rows: 40% 30% 30%; */
    align-items: center;
    justify-items: start;
    border-top: .1em solid black; border-bottom: .1em solid black;
    padding: 1em;
}

.city {
    grid-area: ;
    font-family: var(--logo-font);
    font-size: 1.35rem;
}

.temp-condition {
    grid-area: ;
    font-family: var(--logo-font);
}

.temperature {
    font-family: var(--logo-font);
    grid-area: ;
    place-self: center;
    font-size: 2.75rem;
}

.temp-img {
    grid-area: ;
}

.more-info {
    
}

@media screen and (min-width: 768px) {
    main {
        display: grid;
        grid-template-columns: ;
        grid-template-rows: ;
        grid-template-areas: "";
    }

    .main-card {
        grid-area: ;
    }

    .more-info {
        grid-area: ;
        display: grid;
        grid-template-columns:
        grid-template-rows: ;
        grid-template-areas: "";
    }
}
