@import url(../css/styles/header.css);
@import url(../css/styles/main.css);
@import url(../css/styles/footer.css);

:root {
    --logo-font: 'Lobster', cursive;
    --main-font: 'Sansita', sans-serif;
    --bg-color: linear-gradient(to right, #80fbff, #dad184, #e67b17);
    --white: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
}

body {
    font-family: var(--main-font);
    font-size: 16px;
}
