@import url(../css/styles/header.css);
@import url(../css/styles/main.css);


:root {
    --logo-font: 'Lobster', cursive;
    --main-font: 'Sansita', sans-serif;
    --bg-color: linear-gradient(to right, #2e3192, #27adad, #11314e);
}

* {
  margin: 0;
  padding: 0;
}

body {
    background: var(--bg-color);
    font-family: var(--main-font);
    font-size: 16px;
}
